{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Connexion</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="mb-3">
              <label for="username" class="form-label requiredField">Nom d'utilisateur<span class="asteriskField">*</span></label>
              <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" required/>
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3">
              <label for="password" class="form-label requiredField">Mot de passe<span class="asteriskField">*</span></label>
              <input type="password" class="form-control" name="password" placeholder="Mot de passe" required/>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block mt-4">Connexion</button>
          </div>
        </form>
        <hr>
        <div class="text-center mt-3">
          <p>Pas encore enregistré ?</p>
          <a href="{% url 'register' %}" class="btn btn-link">S'enregistrer</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
