{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Sign up</h2>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
        </form>
        <div class="text-center mt-3">
          <p>Already signed up?</p>
          <a href="{% url 'login' %}" class="btn btn-link">Log in</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}