{% extends 'base.html' %}

{% block title %}{% if project.pk %}Modifier{% else %}Créer{% endif %} un projet{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% with list_id="members_group_list" %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-4 mb-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-9">
      <div class="card">
        <div class="card-header">
          <h2>{% if project.pk %}Modifier{% else %}Créer{% endif %} un projet</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            {% for field in form.visible_fields %}
              {% if field.name == 'members' %}
                <div class="form-group">
                  <div id="div_id_members" class="mb-3">
                    <label for="id_members" class="form-label">Membres</label>
                      {% if users %}
                        <input type="text" class="form-control form-control-sm mb-1" placeholder="Chercher" aria-label="Chercher" onkeyup="listSearch(this)">
                        <div class="overflow-auto" style="max-height: 120px;">
                          <ul class="list-group" id="{{ list_id }}">
                            {% for user in users %}
                              <li class="list-group-item">
                                <input
                                  class="form-check-input me-1"
                                  type="checkbox"
                                  name="members"
                                  value="{{ user.id }}"
                                  id="MemberCheckbox{{ user.id }}"
                                  {% if user in project.members.all %}checked{% endif %}
                                >
                                <label class="form-check-label stretched-link" for="MemberCheckbox{{ user.id }}">{{ user }}</label>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        <div class="text-muted">
                          No users found
                        </div>
                      {% endif %}
                  </div>
                </div>
              {% else %}
                  <div class="form-group">
                      {{ field|as_crispy_field }}
                  </div>
              {% endif %}
            {% endfor %}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg">{% if project.pk %}Modifier{% else %}Créer{% endif %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "project/list_search.html" with list_id=list_id %}
{% endwith %}
{% endblock %}
