{% extends 'base.html' %}

{% block title %}Détails du projet {{ project.name }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Détails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'project-task-list' pk=project.pk %}">Tâches et meetings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'project-resource-list' pk=project.pk %}">Ressources</a>
  </li>
</ul>
{% with list_id="members_group_list" %}
<div class="container mt-4 mb-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-9">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h2>Détails du projet</h2>
          {% if user == project.owner or user.is_staff %}
            <h6>Clef : {{project.key}}</h6>
          {% endif %}
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Nom</label>
              <input class="form-control" type="text" value="{{ project.name }}" rows="3" disabled readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea class="form-control" rows="3" disabled readonly>{{ project.description }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Date de début</label>
              <input type="date" class="form-control" value="{{ project.start_date|date:'Y-m-d' }}" disabled readonly/>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Date de fin</label>
              <input type="date" class="form-control" value="{{ project.end_date|date:'Y-m-d' }}" disabled readonly/>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Responsable</label>
              <input class="form-control" type="text" value="{{ project.owner }}" rows="3" disabled readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <input class="form-check-input checkboxinput" type="checkbox" value="" {% if project.is_archived %}checked{% endif %} rows="3" disabled readonly>
              <label class="form-label">Archivé</label>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Membres</label>
              {% if project.members.all %}
                <input type="text" class="form-control form-control-sm mb-1" placeholder="Search" aria-label="Search" onkeyup="listSearch(this)">
                <div class="overflow-auto" style="max-height: 120px;">
                  <ul class="list-group" id="{{ list_id }}">
                    {% for member in project.members.all %}
                      <li class="list-group-item" style="background-color: #e9ecef;">{{ member.username }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
              <input class="form-control" type="text" value="Aucun membre" rows="3" disabled readonly>
              {% endif %}
            </div>
          </div>
          <div class="d-grid gap-2">
            {% if user == project.owner or user.is_staff %}
              <a href="{% url 'project-update' project.id %}" class="btn btn-primary btn-lg">Modifier</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "project/list_search.html" with list_id=list_id %}
{% endwith %}
{% endblock %}
