{% extends "base.html" %}
{% block content %}

<table>
    <tr>
        <th>TASK</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.name}}</td>
        <td><a href="{% url 'task-update' task.id %}">Update</a></td>
        <td>
          <form method="post" action="{% url 'task-delete' task.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
          </form>
        </td>
    </tr>
    {% empty %}
        <h3>No task</h3>
    {% endfor %}

    {% for meeting in meetings %}
    <tr>
        <td>{{meeting.name}}</td>
        <td><a href="{% url 'meeting-update' meeting.id %}">Update</a></td>
        <td>
          <form method="post" action="{% url 'meeting-delete' meeting.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
          </form>
        </td>
    </tr>
    {% empty %}
        <h3>No meeting</h3>
    {% endfor %}
</table>
<a href="{% url 'task-create' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Ajouter une tâche</a>
<a href="{% url 'meeting-create' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Ajouter une réunion</a>

{% load plotly_dash %}

{% plotly_app name='SimpleExample' ratio=0.8 %}

{% endblock %}
