{% extends "base.html" %}

{% block title %}{% if task.pk %}Modifier{% else %}Créer{% endif %} une tâche{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h2>{% if task.pk %}Modifier {% elif meeting.pk %} Modifier {% else %}Créer{% endif %} {% if form.status %} une tâche {% else %} une réunion {% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
